  /*задаем размеры и центрируем обертку*/

  .wrapper {
    width: 1000px;
    height: 1310px;
    margin: 0 auto;
  }

  /*задаем стили для верхней строчки с номерами телефонов, формой входа и блоком навигации*/

  header {
    height: 54px;
    padding-left: 52px;
    padding-right: 52px;
    font-size: 0;
  }

  /*размещаем блоки горизонтально*/

  .telephons,
  .telephone-icon,
  .phone-numbers,
  .authorization,
  .authorization-icon,
  .login,
  .registration,
  .forget-password,
  .navbar,
  .home-link,
  .site-map,
  .write-letter {
    display: inline-block;
  }

  .telephone-icon {
    width: 22px;
    height: 22px;
    margin-top: 34px;
    margin-right: 2px;
    background: url(../img/telephone_icon.png) center center no-repeat;
    vertical-align: bottom;
  }

  .phone-numbers {
    margin-right: 15px;
    padding-bottom: 2px;
    color: #5e696d;
    font-family: Arial;
    font-size: 19px;
  }

  .authorization {
    width: 495px;
    height: 26px;
    margin-top: 28px;
    box-shadow: 2px 3px 3px rgba(150, 150, 150, 0.75);
    border-radius: 3px;
    background-color: #b1bcc0;
    background: linear-gradient(to top, #033057, #196788);
    vertical-align: top;
}


  .authorization-icon {
    width: 14px;
    height: 18px;
    margin-top: 5px;
    margin-left: 7px;
    margin-right: 3px;
    background: url(../img/authorization-icon.png) no-repeat;
  }

  .login {
    position: relative;
    height: 26px;
    vertical-align: top;
  }

  input[type=text],
  input[type=password] {
    width: 115px;
    height: 18px;
    padding-left: 4px;
    padding-bottom: 2px;
    color: #97a2a6;
    font-family: "Lucida Sans Unicode";
    font-size: 11px;
    box-sizing: border-box;
    border: 1px solid #9ba1a3;
  }

  input[type=text] {
    margin-right: 6px;
  }

  input[type=password] {
    margin-right: 2px;
  }

  input[type=submit] {
    display: inline-block;
    height: 100%;
    padding-top: 3px;
    padding-right: 5px;
    background: rgba(0, 0, 0, 0);
    border: 0;
    color: #ffffff;
    font-family: "Lucida Sans Unicode";
    font-size: 11px;
    cursor: pointer;
  }

  .login::after {
    content: ".";
    position: absolute;
    display: inline-block;
    top: 10px;
    width: 1px;
    height: 10px;
    background-color: #fff;
  }

  .registration {
    height: 100%;
    margin-left: 5px;
    padding-top: 2px;
    color: #ffffff;
    font-family: "Lucida Sans Unicode", Arial;
    font-size: 11px;
    line-height: 26px;
    text-decoration: none;
    vertical-align: top;
  }

  .forget-password {
    margin-left: 17px;
    padding-top: 2px;
    color: #bfbfbf;
    font-family: "Lucida Sans Unicode";
    font-size: 12px;
    line-height: 26px;
    vertical-align: top;
  }

  .container-navbar {
    display: inline-block;
    height: 21px;
    margin-top: 30px;
    margin-left: 17px;
    vertical-align: top;
  }

  .navbar {
    width: 77px;
    height: 21px;
    border: 1px solid #bdc4c7;
    border-radius: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
    vertical-align: top;
  }

  /*#navbar оформление ссылок в виде пиктограмок */

  .home-link,
  .site-map,
  .write-letter {
    height: 100%;
    width: 33%;
  }

  .home-link {
    background: url(../img/home.png) center top 3px no-repeat;
  }

  .site-map {
    background: url(../img/site_map.png) left 2px top 3px no-repeat;
  }

  .write-letter {
    background: url(../img/letter.png) right 11px top 4px no-repeat;
  }
